{{> header}}

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-12">

                <div class="p-5 mb-4 bg-light rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">Welcome to my TODO website</h1>
                        <p class="col-md-8 fs-4">Says goodbye to FORGETTING ! With our web applicatipn you can
                            create your todo tasks in order not do forget them, you can also create a group for
                            every groupe of tasks, and many other featurs. What are waiting ?
                        </p> <br>
                        <a href="/signUpPage" class="btn btn-success btn-lg">Sign Up for FREE Now !</a>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
</body>

</html>